@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"),
      url("../fonts/Dana/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: local("Dana Medium"),
      url("../fonts/Dana/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: local("Dana DemiBold"),
      url("../fonts/Dana/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Light";
    src: local("Morabba Light"),
      url("../fonts/Morabba/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: local("Morabba Medium"),
      url("../fonts/Morabba/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: local("Morabba Bold"),
      url("../fonts/Morabba/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }

  /* body {
    background-image: url(/public/images/headerBgDesktop.webp);
    background-repeat: no-repeat;
  } */
}

@layer components {
  .submenu {
    @apply hidden flex-col gap-y-3 pr-7 mt-3 text-sm text-zinc-600 dark:text-white;
  }
  .submenu--open {
    display: flex;
  }
  .submenu__item--active {
    @apply relative text-orange-300 pr-2.5;
  }
  .submenu__item--active::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background-color: #fdba74;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .overlay {
    @apply md:hidden invisible opacity-0 bg-black/40 fixed inset-0 w-full h-full z-10 transition-all;
  }
  .overlay--visible {
    @apply visible opacity-100;
  }
  .circle {
    @apply hidden md:flex justify-center items-center border rounded-full;
  }
  .circle--lg {
    @apply absolute bottom-0 left-0 right-0 mx-auto translate-y-1/2 w-[203px] h-[203px] border-white/25;
  }
  .circle--md {
    @apply w-[145px] h-[145px] border-white/50;
  }
  .circle--sm {
    @apply w-[95px] h-[95px] border-white/80;
  }

  @media screen and (min-width: 1280px) {
    .dark .products {
      background: url("../images/products-bg.png") no-repeat;
      background-size: 100%;
    }

    .products {
      background: linear-gradient(
          rgba(243, 244, 246, 0.65),
          rgba(243, 244, 246, 0.65)
        ),
        url("../images/products-bg.png") no-repeat;
      background-size: 100%;
    }
  }

  .section-title {
    @apply text-2xl md:text-5xl font-MorabbaMedium text-zinc-700 dark:text-white;
  }
  .section-subtitle {
    @apply inline-block text-lg md:text-3xl font-MorabbaLight text-zinc-700 dark:text-white mt-0.5 md:mt-1.5;
  }
  .section-link {
    @apply inline-flex items-center h-10 pr-3 pl-1 tracking-tightest rounded-md md:gap-x-1 text-base md:text-xl text-orange-300 md:hover:bg-orange-300/20 transition-colors;
  }

  .offer {
    @apply relative text-gray-400;
  }

  .offer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    inset: 0;
    top: -2px;
    margin: auto;
    background-color: #ef4444;
  }

  .category-banner__item1 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url("../images/categories/category-right.jpg") no-repeat;
    background-size: cover;
  }
  .category-banner__item2 {
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0.6) 33.85%,
        rgba(0, 0, 0, 0.1) 100%
      ),
      url("../images/categories/category-left.jpg") no-repeat;
    background-size: cover;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    @apply flex-center w-9 md:w-10 h-9 md:h-10 text-zinc-700 dark:text-white bg-white dark:bg-zinc-700 rounded-full shadow-normal hover:bg-gray-300 dark:hover:bg-white dark:hover:text-zinc-700 transition-all;
  }

  .services {
    position: relative;
  }

  .services::before,
  .services::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    margin: auto;
    background-color: #d1d5d8;
  }

  html.dark .services::before,
  html.dark .services::after {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .services::before {
    width: calc(100% - 2rem);
    height: 1px;
  }
  .services::after {
    width: 1px;
    height: calc(100% + 20px);
  }

  @media screen and (min-width: 640px) {
    .services::before,
    .services::after {
      content: none;
    }
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .ltr-text {
    direction: ltr;
    text-align: left;
  }
}
